@import url('lib.less');
@import url('config.less');

@blue: #3f51b5;
@blue-light: #4285F4;

body, material-tabs > .tabs-content {
    background: url('/img/kindajean.png');
}

#header {
    .user img {
        .border-radius(50%);
    }
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 10px;
}

material-whiteframe.info {
    background: #fff;
    margin: 20px 15px;
    padding: 20px;
    color: rgb(0, 133, 255);
    background-color: rgb(242, 249, 255);
}

material-card {
    h2 {
        margin: 0;
    }

    .user-list {
        display: none;
        list-style: none;
        padding: 0;
        margin: 0;
        .clearfix();

        li {
            float: left;
            text-align: center;
            width: 70px;
            padding: 5px 2px;

            img {
                .border-radius(50%);
            }
        }
    }

    &.active .user-list {
        display: block;
    }

    &.form {
        padding: 20px;

        p {
            padding: 0;
            margin: 0;
        }

        &.error {
            background: red !important;
        }
    }
}

material-tabs {
    material-tabs-ink-bar {
        background: #3f51b5;
        height: 3px;
    }
}

material-input-group {
    label { font-size: 18px; }
    input {
        font-size: 24px;
        width: 100%;
    }
}

.angular-google-map-container { height: 400px; }

.tabs-content .card: {
    background: white !important;
    background-color: white !important;
    background: rgba(255,255,255,0.85);
}

.recommendations {
    margin: 20px 15px;
    text-transform: uppercase;
    color: @blue-light;
    padding-bottom: 5px;
    border-bottom: 2px solid @blue-light;
}