body,
#content,
#content .tabs {
  background: url('../img/kindajean.png');
}
body > md-content {
  margin: 0 auto;
  max-width: 768px;
}
body > md-content > md-toolbar {
  background-color: #3f51b5;
  color: white;
}
body > md-content > md-toolbar .user img {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
body > md-content > md-tabs .tabs-header {
  background-color: #3f51b5;
}
body > md-content > md-tabs md-tab {
  border: 0;
}
body > md-content > md-tabs md-tabs-ink-bar {
  height: 5px;
  background: white;
}
body > md-content #content {
  position: relative;
}
body > md-content #content .tab md-whiteframe.info {
  background: white;
  margin: 20px 15px;
  padding: 20px;
  color: #0085ff;
  background-color: #f2f9ff;
}
body > md-content #content .tab .recommendations {
  margin: 20px 15px;
  text-transform: uppercase;
  color: #4285f4;
  padding-bottom: 5px;
  border-bottom: 2px solid #4285f4;
}
body > md-content #content .tab md-card {
  position: relative;
}
body > md-content #content .tab md-card h2,
body > md-content #content .tab md-card p {
  margin: 0;
}
body > md-content #content .tab md-card .joined-icon {
  display: none;
}
body > md-content #content .tab md-card .badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777777;
  border-radius: 10px;
}
body > md-content #content .tab md-card .user-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 15px;
}
body > md-content #content .tab md-card .user-list:after {
  content: "";
  display: block;
  clear: both;
}
body > md-content #content .tab md-card .user-list li {
  float: left;
  text-align: center;
  min-width: 70px;
  padding: 5px 2px;
}
body > md-content #content .tab md-card .user-list li img {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
body > md-content #content .tab md-card.joined {
  border: 3px solid #259b00;
}
body > md-content #content .tab md-card.joined .joined-icon {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 24px;
  padding: 0;
  text-align: center;
  right: 3px;
  top: 3px;
  color: #259b00;
}
body > md-content #content .tab md-card .join-group {
  margin-top: 15px;
  width: 100%;
  padding: 7px 15px;
}
body > md-content #content .tab md-card.form {
  padding: 20px;
}
body > md-content #content .tab md-card.form.error {
  background: red !important;
}
body > md-content #content .tab md-card.form p {
  padding: 0;
  margin: 0;
}
body > md-content #content .tab #gmaps .actions {
  padding: 8px 15px;
}
body > md-content #content .tab #gmaps #gmapsearch {
  background: white;
  background: rgba(255, 255, 255, 0.85);
  padding: 8px 15px;
  width: 100%;
}
body > md-content #content .tab .angular-google-map-container {
  height: 400px;
}
body > md-content #content .tab md-input-group label {
  font-size: 18px;
}
body > md-content #content .tab md-input-group input {
  font-size: 24px;
  width: 100%;
}
body > md-content #content .tab select {
  padding: 6px 12px;
  margin: 0px 15px;
}
body > md-content #content .tab .search {
  padding: 0px 15px;
}
body > md-content #content .tab .search md-input-group {
  margin: 0;
}
