body,
material-tabs > .tabs-content {
  background: url('/img/kindajean.png');
}
#header .user img {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
material-tabs material-tabs-ink-bar {
  background: #3f51b5;
  height: 3px;
}
material-input-group label {
  font-size: 18px;
}
material-input-group input {
  font-size: 24px;
  width: 100%;
}
.angular-google-map-container {
  height: 400px;
}
.tabs-content .card: {
  background: white;
  background: rgba(255, 255, 255, 0.85);
}
